body {
  background-color: #3B40C542;
}

h1 {
  text-align: center;
}
#enlace1 {
  border: solid;
  border-radius: 10px;
  padding: 3px;
  background-color: #0B13E2DE;
  color: #F9FFFCDE;
}
.miPrimera {
  text-align: center;
  margin: 20px auto;
}

.miPrimera img {
  display: block;
  margin: 10px auto;
  border-radius: 50px;
}

.miPrimera button {
  background-color: #0B13E2DE;
  margin: 10px;
  padding: 8px 15px;
  border-radius: 15px;
  color: #FFFFFFDE;
}

img { 
  border-radius: 50px 50px 50px 50px;
  border: solid 5px;
  padding: 10px;
}
#boton {
  text-align: center;
  font-size: 20px;
}
footer {
  padding-top: 200px;
  text-align: center;
}
